.function-plot {
  font-size: 12px;

  .title {
    @apply fill-foreground;
  }
  .annotations {
    path {
      @apply stroke-primary;
    }
  }
  .top-right-legend {
    @apply hidden;
  }
  .canvas {
    transform: translate(40px, 10px) !important;
  }
  .content {
    .x.origin {
      @apply stroke-foreground;
    }
    .y.origin {
      @apply stroke-foreground;
    }
    .graph {
      .scatter {
        @apply fill-foreground;
        r: 3px;
      }
    }
  }
  .x.axis {
    .tick {
      line {
        @apply stroke-foreground;
      }
    }
  }

  .y.axis {
    .tick {
      line {
        @apply stroke-foreground;
      }
    }
  }
}
